active="true"
authenticationEnabled="false"
connectionId="LiferayElasticsearchClusterConnection"
httpSSLEnabled="false"
networkHostAddresses=[${JAVA_ELASTIC_NETWORK_HOST_ADDRESSES}]
proxyHost=""
proxyPort="0"
proxyUserName=""
truststorePath="/path/to/localhost.p12"
truststoreType="pkcs12"
username="elastic"
operationMode="REMOTE"



