accessKey=""
bucketName="Bucket\ Name"
cacheDirCleanUpExpunge=I"7"
cacheDirCleanUpFrequency=I"100"
connectionProtocol="DEFAULT"
connectionTimeout=I"10000"
corePoolSize=I"7"
httpClientMaxConnections=I"50"
httpClientMaxErrorRetry=I"5"
maxPoolSize=I"20"
minimumUploadPartSize=I"5242880"
multipartUploadThreshold=I"10485760"
ntlmProxyDomain=""
ntlmProxyWorkstation=""
proxyAuthType="none"
proxyHost=""
proxyPort=I"12345"
proxyUsername=""
s3Endpoint=""
s3PathStyle=B"false"
s3Region="us-east-1"
s3StorageClass="STANDARD"
secretKey=""
signerOverride=""
